<div class="bg-img" data-no-turbolink>
  <div class="container">
    <div class="row align-items-center justify-content-start">
      <div class="col-12 col-md-8 offset-md-2">
        <% if flash[:error].present? %>
          <div class="col-10 offset-1 alert alert-danger">
            <%= flash[:error].html_safe %>
          </div>
        <% end %>
        
        <div class="top-margin">
          <h3 class="sub-text">
            <span>No. <%= @quote.id %></span> &middot;
            Quotes from America&rsquo;s favorite naturalist.
          </h3>

          <!-- <div class="animated fadeInUp"> -->
            <h1 class="quote"><%= @quote.saying %></h1>
            <h2 class="author quote">- <%= @quote.author %></h2>
          <!-- </div> -->
          <br class="clear">
          <%= link_to "Give me another quote.", root_path, class: "next-quote" %>
        </div>
      </div>
    </div>
  </div>
</div>



<br class="clear" />